---
layout: default
title: ResBaz Victoria Program
permalink: /program/
modal: all
image: programs.jpg
---

{% include top-section.html %}

<section id="register" class="partners">
    <div class="content-wrapper">
        <h4>
          
            <!-- We are in the final stages of crafting an exciting program for ResBaz Vic 2024. <br>
            Stay tuned for updates on our sessions, speakers, and workshops. <br>
            Check back soon for more details! -->

            We are finalising an exciting program for ResBaz VIC 2024. <br> 
            Please take a look at the confirmed sessions and <br> 
            check back soon for the registration to secure your spot!


        </h4>

        {% include sessions.html %}


        <!-- <table style="border: solid 1px;">
            <tr style="border: solid 1px;">
              <th rowspan="2">
                Key Story Talks
              </th>
              <td style="border: solid 1px;">
                Prof Rashina Hoda <br>
                Software Engineering <br>
                Associate Dean, Equity Diversity and Inclusion
              </td>
            </tr>
            <tr style="border: solid 1px;">
              <td style="border: solid 1px;">
                Prof James Trauer <br>
                Head, Epidemiological Modelling Unit <br>
                Department of Epidemiology and Preventive Medicine
              </td>
            </tr>

            <tr style="border: solid 1px;">
                <th rowspan="4">
                  Talks
                </th>
                <td style="border: solid 1px;">
                  Cybersecurity awareness and practices when developing research software <br> 
                  Luke Bampton
                </td>
              </tr>
              <tr style="border: solid 1px;">
                <td style="border: solid 1px;">
                    Creating effecting Data Plots <br>
                    Prof Di Cook
                </td>
              </tr>
              <tr style="border: solid 1px;">
                <td style="border: solid 1px;">
                    From featureCounts to cellCounts - building highly efficient tools for sequencing data quantification <br> 
                    Dr. Yang Liao
                </td>
              </tr>
              <tr style="border: solid 1px;">
                <td style="border: solid 1px;">
                    Supporting Digital Research in one of the largest Go8 Uni <br>
                    Amr Hassan
                </td>
              </tr>


              <tr style="border: solid 1px;">
                <th rowspan="8">
                  Workshops
                </th>
                <td style="border: solid 1px;">
                    Digital Scholar Lab - GALE  <br>
                    Darren Brain & Damian Almeida
                </td>
              </tr>
              <tr style="border: solid 1px;">
                <td style="border: solid 1px;">
                    Intro to Python <br>
                    Juan Nunez-Iglesias
                </td>
              </tr>
              <tr style="border: solid 1px;">
                <td style="border: solid 1px;">
                    Tools for for visualising beyond 3D <br>
                    Prof. Dianne Cook
                </td>
              </tr>              
              <tr style="border: solid 1px;">
                <td style="border: solid 1px;">
                    Intro to Gadi <br> 
                    NCI
                </td>
              </tr>
              <tr style="border: solid 1px;">
                <td style="border: solid 1px;">
                    Python for HPC <br>
                    NCI
                </td>
              </tr>
              <tr style="border: solid 1px;">
                <td style="border: solid 1px;">
                    REDCap vs Qualtrics Plus (Digital technologies for humanities & (Health) data management) <br> 
                    Di Brown
                </td>
              </tr>
              <tr style="border: solid 1px;">
                <td style="border: solid 1px;">
                    Tools for for visualising beyond 3D <br>
                    Prof. Dianne Cook
                </td>
              </tr>
              <tr style="border: solid 1px;">
                <td style="border: solid 1px;">
                    Research Data Governance <br>
                    Patrick Splawa-Neyman
                </td>
              </tr>


              <tr style="border: solid 1px;">
                <th rowspan="2">
                  Key Story Talks
                </th>
                <td style="border: solid 1px;">
                  Prof Rashina Hoda <br>
                  Software Engineering <br>
                  Associate Dean, Equity Diversity and Inclusion
                </td>
              </tr>
              <tr style="border: solid 1px;">
                <td style="border: solid 1px;">
                  Prof James Trauer <br>
                  Head, Epidemiological Modelling Unit <br>
                  Department of Epidemiology and Preventive Medicine
                </td>
              </tr>
            

        </table> -->



        <!-- <br>
        <h4>Awesome topics in ResBaz Vic 2024!</h4>
        <h6>
            ResBaz Vic 2024 will feature various sessions with a diverse lineup of speakers from around Australia.
        </h6> <br>
        <div style="font-size: 17px;">Interesting topics coming up in ResBaz Vic 2024:</div>
        <div style="display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;">
            <ul style="font-size: 17px; text-align: left;">
                
                    <li> Diversity and Inclusion in Digital Platforms</li>
                    <li>Genomics</li>
                    <li>Modelling & Simulation</li>
                    <li>Imaging & visualisation</li>
                    <li>Artificial Intelligence (AI) and Machine Learning (ML) </li>
                    <li>Sustainable research software</li>
                    <li>Digital technologies for humanities</li>
                    <li>Data Management        </li>
                    <li>and more to come! </li>
            </ul>
        </div>

        

       <div style="font-size: 17px;">
            <h6>Stay tuned for our complete session programs and registration ticket! </h6>
            If you have any questions, or would like more information on any topic from these sessions, please contact us to discuss 
            <br>or folow our X Account <a href="https://www.eventbrite.com/o/monash-eresearch-centre-80527865623"> here</a>
            and subscribe to our newsletter <a href="">here</a> for any RezBazVic updates straight to your email! 
        </div>
        <h5> <a href="https://events.humanitix.com/resbazqld-2023">Registration is now open</a>. Just $40 for three full days of talks, workshops, 
networking, social activities, and food!<h5> -->
    <br><br> 

        <!-- <section id="twitter-feed" class="twitter-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/whitewall.jpg);">
            <div class="overlay solid-overlay"></div>
            <div class="content-wrapper">
                <div class="col-md-8 col-md-offset-2">
                    
                </div>
            </div>
        </section>

        <section style="padding-left: 5%; padding-right: 5%;">
        <br><br><br>

        <h4><b>
        Accessibility bursaries available
        </h4></b><br><br><h6>
        The cost of living is making life very tough right now. We don't want anyone to miss out on ResBaz because of financial concerns, so we aim to offer support if you are worried about the cost of attending ResBaz. <br><br>

        If you have concerns about childcare, travel<sup>1</sup> or other accessibility expenses, please contact us at <a href=" mailto:resbaz@qcif.edu.au " 
        target="_blank">resbaz@qcif.edu.au</a> to ask about our Accessibility Bursaries.<br> We're also offering free registration to volunteers, so get in touch <a href=" mailto:resbaz@qcif.edu.au " target="_blank">resbaz@qcif.edu.au</a> if you're keen to help out. <br><br></h6>
        </h6>

        1. Unfortunately our budget doesn't stretch to travel scholarships, so we can't help with flights or accommodation. We can support extra 
        bus/ferry/train/parking costs and similar that would otherwise put a strain on your budget.

        </section> -->
    </div>
</section>
