---
layout: default
title: Event schedule
permalink: /schedule/
image: PurpleF_Dark_ResbazQld_NathCampus.jpg
---

{% include top-section.html %}

<div style="text-align: center;margin-bottom: -10px;">
  <h5>&nbsp; &nbsp;<a href="https://qcif-training.github.io/common_reference/schedule_071123.pdf"><b>Download PDF schedule</b></a></h5>
  <p>Looking to sign up to a workshop? Once you have completed your <a href="https://events.humanitix.com/resbazqld-2023">ResBaz Registration</a>, you can <a href="https://resbaz.github.io/resbaz2023qld/blog/workshop-booking-open">book your workshop places</a>.</p>
</div>

{% include schedule.html %}
