---
layout: default
title: ResBaz Victoria Program
permalink: /program/
image: programs.jpg
---

{% include top-section.html %}

<div style="text-align: center;margin-bottom: -10px;">
  <!-- <h5>&nbsp; &nbsp;<a href="https://qcif-training.github.io/common_reference/schedule_071123.pdf"><b>Download PDF schedule</b></a></h5> -->
  <!-- <h5><b>Please note that workshops with an asterisk (&#42;) are now full or almost full.</b></h5> -->
  <!-- <p>Looking to sign up to a workshop? Once you have completed your <a href="https://events.humanitix.com/resbazqld-2023">ResBaz Registration</a>, you can <a href="https://resbaz.github.io/resbaz2023qld/blog/workshop-booking-open">book your workshop places</a>.</p> -->
</div>

<h4 style="text-align: center; margin-top: 50px;">
          
  <!-- We are in the final stages of crafting an exciting program for ResBaz Vic 2024. <br>
  Stay tuned for updates on our sessions, speakers, and workshops. <br>
  Check back soon for more details! -->

  We are finalising an exciting program for ResBaz VIC 2024. <br> 
  Please take a look at the confirmed sessions and <br> 
  <a target="_blank" href="https://shop.monash.edu/research-bazaar-2024-general-admission.html">register here</a> to secure your spot!


</h4>

{% include schedule.html %}
